body {
    background-color: darkslateblue;
}

.board_row {
    display: flex;
}

.board_square {
    padding: 100px;
    border: 2.5px solid white;
    color: white;
}

.player_move_x {
    
}

.player_move_o {

}


#game_board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
